

/* id ->  #
class -> .  */
head ,body , #players {
  padding: 50px;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif ;
  background-color: coral;
  color: white;


}

#address{
  font-size: 40px;
}

 #enter_address{
   font-size: 35px;
 }

#main-container{
  margin-top: 50px;
}


figcaption{
  font-size: 30px;

}

#gifs-rows img {
  cursor: pointer;

}
#gifs-rows .gif-file {
  display:none;
}
